@page "/discover"
@using MyLegoCollection.Models
@inject RebrickableService RebrickableService
@inject CollectionService CollectionService

<PageTitle>Sets - My LEGO Collection</PageTitle>

<h3>LEGO sets discovery</h3>

@if (sets == null)
{
    <p>Loading sets...</p>
}
else if (!sets.Any())
{
    <p>Sets not found.</p>
}
else
{
    <ul class="sets-grid">
        @foreach (var set in sets)
        {
            <li class="set-item">
                <div class="set-image">
                    <img src="@set.SetImgUrl" alt="@set.Name" />
                </div>
                <div class="set-reference">
                    @set.SetNum
                </div>
                <div class="set-details">
                    <strong>@set.Name</strong><br/>
                    @set.Year - @set.NumParts parts<br/>
                </div>
            </li>
        }
    </ul>
}

@code {
    private List<LegoSet> sets;

    // Called when the component initializes
    protected override async Task OnInitializedAsync()
    {
        sets = await RebrickableService.GetSetsAsync(); // Load LEGO sets from the API
        
        if (CollectionService.Collections.Count == 0) // Prevents reloading if already in LocalStorage
        {
            await CollectionService.LoadCollectionsAsync(); // Load existing collections from LocalStorage
        }
    }
}